h2{
	color: #ffffff;
	margin-left: .7em;
	text-align: left;
	font-size: 1.2em;
}

#contenedor{
	margin: auto;
	margin-top: 4.5em;
}

.encabezado{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #b0232a;
}

.menu_bar {
	top: 15px !important;
}

.btn {
	cursor: pointer;
	background: #B24846;
	color: white;
	padding: 10px 15px;
	font-size: .8em;
	border: none;
	text-decoration: none;
}

.icon {
	background: rgba(0,0,0,0.08);
	width: 60px;
	padding: 9px 9px 11px 10px;
	margin-left: -15px;
}

.icon-right {
	background: rgba(0,0,0,0.08);
	width: 60px;
	padding: 9px 9px 11px 10px;
	margin-right:-15px;
}

a.btnLink{	
	color: rgba(0,0,0,.8);
	font-weight: normal;
	text-decoration: none;
}

img{
	float: left;
}

table{
	background: white;
	width: 100%;
	height: 100%;
	font-size: 1.0em;
	color: #ffffff;
	border-collapse: separate;
	border-spacing: .5em;
	text-align: center;
}

table th{
	padding: 1.5%;
}

table td{
	padding: 1.5%;
	width: 50%;
}

table thead tr{
	background: #B24846;
}

table thead tr th{
	padding: 3%;
	font-size: 1em;
}

table tbody tr th{
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
	background: #aeadab;
	text-shadow: 1px 1px 3px rgba(0,0,0,.7);
}

table tbody tr td{	
	background: rgba(0,0,0,.1);;
}

@media (min-width: 640px) {

	#contenedor{
		width: 80%;
		margin-top: 6.5em;
	}

	h2{
		margin-left: 2em;
		font-size: 1.8em;
	}

	.menu_bar {
		top: 25px !important;
	}

	table{
		border-spacing: 1em;
	}

	table thead tr th{
		padding: 3%;
		font-size: 1.3em;
	}

	table tbody tr th{	
		font-size: 1.2em;
	}
	
}

@media (min-width: 768px) {
	
	#contenedor{
		width: 70%;
	}

	.btn{
		font-size: 1.2em;
	}

	table{
		border-spacing: 1.5em;
	}
	

}

@media (min-width: 1024px) {
	
}